p, div, #startover, #guess {
    font-family: 'Sniglet', cursive;
    font-size: 32px;
}
body {
    background-color: rgb(0, 255, 0);
}
.container {
    padding-left: 35%;
    padding-top: 5%;
}

/*attempt at confetti cannon*/

/*Simple reset*/

canvas {
    display: block;
}
