@media only screen and (max-width: 600px){
    .container {
        display: none;
    }
}
@media only screen and (min-width: 600px){
    .container {
        margin: 0;
        height: 80vh;
        width: 100vw;
    }
}
.background {
    opacity: .5;
    max-width: 100%;
}
#stats{
    width:20%;
    height:100%;
    float:left;
}
#scoretower {
    padding-top: 11vh;
    text-align: center;
    font-size: 20px;
}
.heading {
    font-weight: bolder;
}
.menus {
    height:5%;
    background-color: black;
}
#playingfield {
    padding-top: 5vh;
    height:100vh;
    width: 100vw;
}
.card {
    display: inline-block;
    height: 15vh;
    width: 12vw;
    border: solid 1px black;
    margin: 10px;
    position: relative;
    overflow: hidden;
    background-color: black;
}
img {
    position: absolute;
    height: 100%;
    max-width: 100%;
}
